<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  
  <!-- Servlets -->
  <servlet>
    <servlet-name>categoriesServlet</servlet-name>
    <servlet-class>cbmarc.ginvoicing.server.CategoriesServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>categoriesServlet</servlet-name>
    <url-pattern>/ginvoicing/categories</url-pattern>
  </servlet-mapping>
  
  
  
  <servlet>
    <servlet-name>productsServlet</servlet-name>
    <servlet-class>cbmarc.ginvoicing.server.ProductsServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>productsServlet</servlet-name>
    <url-pattern>/ginvoicing/products</url-pattern>
  </servlet-mapping>
  
  
  
  <servlet>
    <servlet-name>customersServlet</servlet-name>
    <servlet-class>cbmarc.ginvoicing.server.CustomersServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>customersServlet</servlet-name>
    <url-pattern>/ginvoicing/customers</url-pattern>
  </servlet-mapping>
  
  
  
  <servlet>
    <servlet-name>invoicesServlet</servlet-name>
    <servlet-class>cbmarc.ginvoicing.server.InvoicesServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>invoicesServlet</servlet-name>
    <url-pattern>/ginvoicing/invoices</url-pattern>
  </servlet-mapping>
  
  
  
  
  
  
  
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>Ginvoicing.html</welcome-file>
  </welcome-file-list>

</web-app>
